grep_file.txt
logs/
.DS_Store
.pyc
*.pyc
__pycache__/
*.pyo
*.swp
.env/
venv/
.venv/
dist
*.egg
*.egg-info
_mailinglist
dump.rdb
.tox
.cache/
.idea/
*.idea
db.sqlite3
*.log
host_rsa_key
*.bat
tags
jumpserver.iml
.python-version
sessions/*
media
celerybeat.pid
django.db
celerybeat-schedule.db
docs/_build/
xpack
logs/*
tmp/*.pid
/config.yml
/cluster.yml
.logs
tmp/
tmp.txt
tmp.py
tmp.json
/migrations

.vscode/
.pnpm-store/
node_modules/

persistent/
archived/

output/

data/